<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Husqvarna eCommerce</title>
</head>
<body>
    <div class="grid-container">
        <header class="header">
            Husqvarna
        </header>

        <main class="main">
            <ul>
                <li> Products 1 </li>
                <li> Products 2 </li>
                <li> Products 3 </li>
                <li> Products 4 </li>
                <li> Products 5 </li>
            </ul>
        </main>
        
        <footer class="footer">
            All rights reserved.
        </footer>
    </div>
    
    
</body>
</html>