<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Husqvarna eCommerce</title>
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button class="brand-button">
                    <!-- ASCII hamburger menu -->
                    &#9776;
                </button>
                <a href="./index.html">Husqvarna</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sing In</a>
            </div>
        </header>

        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src="./images/am105.png" alt="automower 105">
                            <div class="product-name"><a href="product.html">Automower 105</a></div>
                            <div class="product-brand">Husqvarna</div>
                            <div class="product-price">2540,00 лв.</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="./images/am105.png" alt="automower 105">
                            <div class="product-name"><a href="product.html">Automower 105</a></div>
                            <div class="product-brand">Husqvarna</div>
                            <div class="product-price">2540,00 лв.</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="./images/am105.png" alt="automower 105">
                            <div class="product-name"><a href="product.html">Automower 105</a></div>
                            <div class="product-brand">Husqvarna</div>
                            <div class="product-price">2540,00 лв.</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="./images/am105.png" alt="automower 105">
                            <div class="product-name"><a href="product.html">Automower 105</a></div>
                            <div class="product-brand">Husqvarna</div>
                            <div class="product-price">2540,00 лв.</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="./images/am105.png" alt="automower 105">
                            <div class="product-name"><a href="product.html">Automower 105</a></div>
                            <div class="product-brand">Husqvarna</div>
                            <div class="product-price">2540,00 лв.</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="./images/am105.png" alt="automower 105">
                            <div class="product-name"><a href="product.html">Automower 105</a></div>
                            <div class="product-brand">Husqvarna</div>
                            <div class="product-price">2540,00 лв.</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                </ul>
                
            </div>

        </main>

        <footer class="footer">
            All rights reserved.
        </footer>
    </div>
    
    
</body>
</html>